<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.mapper.LectureMapper">

    <select id="selectOne" parameterType="String" resultType="map">
        SELECT 
            SEQ, DIVISION, 
            GET_CODE_NAME('14', DIVISION) AS DIVISION_NAME,
            CATEGORY, 
            GET_CODE_NAME('15', CATEGORY) AS CATEGORY_NAME,
            NAME, 
            TO_CHAR(REG_DT, 'YYYY-MM-DD') AS REG_DT,
            ADMIN_SEQ, 
            GET_ADMIN_NAME(ADMIN_SEQ) AS ADMIN_NAME 
        FROM LECTURE
        WHERE SEQ = #{seq}
    </select>

</mapper>