@charset "UTF-8";

.wrap-loading{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.2);
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border: 10px solid #ddd;
    border-radius: 50%;
    border-top-color: #333;
    animation: spin 1s infinite cubic-bezier(0.55, 0.15, 0.45, 0.85);
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
}